.uploadContainer {
    border: 2px dashed #007bff;
    padding: 20px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    background-color: #f8f9fa;
}

.uploadContainer.active-drop-area {
    background-color: #cce5ff;
    border-color: #0056b3;
}

.uploadContainer:hover {
    background-color: #e2e6ea;
}

.file-info {
    margin-top: 10px;
}

.loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensures it's visible above other content */
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-border {
    width: 3rem;    /* Adjust size here */
    height: 3rem;   /* Adjust size here */
    border-width: 0.3rem; /* Adjust spinner thickness here */
    color: #007bff; /* Primary blue color, change as needed */
}

/* Optional: Adding an overlay background */
.loading-indicator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8); /* White background with opacity */
    border-radius: 10px; /* Rounded corners for the overlay */
}
