<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
</head>
<body>
<div layout:fragment="content">

    <main class="container">
        <section class="section">
            <div class="container">
                <h1>Bienvenue sur la page d'accueil</h1>
                <p>Bonjour, <span th:text="${userName}">Utilisateur</span>!</p>
                <p>Votre rôle : <span th:text="${userRole}"></span></p>
            </div>
        </section>

        <!-- Section spécifique aux fournisseurs (ROLE_PROVIDER) -->
        <section th:if="${userRole} == 'ROLE_PROVIDER'">
            <h2>Section Fournisseur</h2>
            <p>Cette partie est spécialement conçue pour les fournisseurs.</p>
            <div>
                <ul>
                    <li>Accédez à vos projets</li>
                    <li>Gérez vos factures</li>
                    <li>Autres outils et ressources</li>
                </ul>
            </div>
        </section>

        <!-- Section spécifique aux clients (ROLE_CLIENT) -->
        <section th:if="${userRole} == 'ROLE_CLIENT'">
            <h2>Section Client</h2>
            <p>Cette section est destinée aux clients.</p>
            <div>
                <ul>
                    <li>Consulter vos factures</li>
                    <li>Accéder à l'assistance</li>
                    <li>Informations personnalisées</li>
                </ul>
            </div>
        </section>

    </main>

</div>

</body>
</html>
