<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-head :: commonHeadFragment"></head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div class="flex-grow-1">
    <div layout:fragment="content">
        <p>This is the default content</p>
    </div>
</div>
<div th:replace="fragments/footer :: footerFragment"></div>

<!-- Include Bootstrap JS and other scripts -->

<!-- Include Other Scripts -->
<div layout:fragment="additional-scripts"></div>

</body>
</html>