<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un produit</title>
</head>
<body>
<div class="container mt-5" layout:fragment="content">
    <h1 class="mb-4">Ajouter un produit</h1>
    <form method="post" th:action="@{/products}" th:object="${product}">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <div class="row">
            <div class="col-md-6 form-group mb-3">
                <label for="name">Nom du produit :</label>
                <input class="form-control" id="name" placeholder="Enter product name" th:field="*{name}" type="text">
            </div>
            <div class="col-md-6 form-group mb-3">
                <label for="price">Prix :</label>
                <input class="form-control" id="price" placeholder="Enter product price" th:field="*{price}"
                       type="number">
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="currency">Devise :</label>
            <select class="form-control" id="currency" th:field="*{currency}">
                <option th:each="currency : ${T(fr.uha.AccountingFlowManager.enums.Currency).values()}"
                        th:text="${currency.displayName}"
                        th:value="${currency}">
                </option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="description">Description :</label>
            <textarea class="form-control" id="description" placeholder="Entrez une description du produit/service" rows="4"
                      th:field="*{description}"></textarea>
        </div>
        <div class="form-group mb-3">
            <label for="duration">Durée en secondes (optionnel) :</label>
            <input class="form-control" id="duration" placeholder="Entrer une durée" th:field="*{duration}"
                   type="number">
        </div>
        <div class="form-group form-check mb-4">
            <input class="form-check-input" id="isService" th:field="*{service}" type="checkbox">
            <label class="form-check-label" for="isService">Service</label>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <button class="btn btn-primary btn-block" type="submit">Ajouter</button>
            </div>
            <div class="col-md-6 form-group">
                <a class="btn btn-secondary btn-block" href="/products">Annuler</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
