<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>List of Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Product List (<span th:text="${size}"></span>)</h2>
        <form class="form-inline my-2 my-lg-0" action="/products/search" method="get">
            <div style="display: flex;">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="name">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>
        <a href="/products/add" class="btn btn-success">Ajouter un produit</a>
    </div>


    <div class="alert alert-success alert-dismissible mr-2" th:if="${deleteResult}">
        <strong>Success!</strong> <span th:text="${deleteMessage}"></span>
        <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-warning alert-dismissible mr-2"  th:if="${deleteMessage}" th:unless="${deleteResult}">
        <strong>Warning!</strong> <span th:text="${deleteMessage}"></span>
        <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td  th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>

            <td th:text="${product.price} + ' ' + ${product.currency.symbol}"></td>
            <td th:text="${product.description}"></td>
            <td>
                <a th:href="@{/products/{id}/edit(id=${product.id})}" class="btn btn-primary">
                    <i class="ri-edit-line"></i>
                </a>
                <form th:action="@{/products/{id}/delete(id=${product.id})}" th:method="post" th:csrf>
                    <button type="submit" class="btn btn-danger">
                        <i class="ri-delete-bin-line"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
<script>
    $(document).ready(function() {
        $('.delete-btn').click(function (e) {
            e.preventDefault();
            var productId = $(this).data('id');
            $.ajax({
                url: '/products/' + productId + '/delete',
                type: 'POST',
                success: function () {
                    alert('Product deleted');
                    location.reload();
                },
                error: function () {
                    alert('Failed to delete product');
                }
            });
        });
    });
</script>
</div>



</body>
</html>