<!DOCTYPE html>
<html lang="fr" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listing Facture</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
<div layout:fragment="content">
    <main class="container mt-5">
        <h1 class="text-center">Liste des Factures</h1>

        <div class="table-responsive">
            <table class="table table-hover" id="invoicesTable">
                <thead class="table-light">
                <tr>
                    <th scope="col">ID Facture</th>
                    <th scope="col">Nom du Client</th>
                    <th scope="col">Date de Facture</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="invoice : ${invoiceItems}">
                    <td th:text="${invoice.invoiceId}"></td>
                    <td th:text="${invoice.customerName}"></td>
                    <td th:text="${#temporals.format(invoice.issueDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td>
                        <div class="action-buttons">
                            <a th:href="@{/invoice/view/{id}(id=${invoice.invoiceId})}" class="view-btn" title="View">
                                <i class="bi bi-eye" style="font-size: 1.2rem;"></i>
                            </a>
                            <button class="delete-btn" th:onclick="'deleteInvoice(' + ${invoice.invoiceId} + ')'" title="Delete">
                                <i class="bi bi-trash" style="font-size: 1.2rem;"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#invoicesTable').DataTable({
                "autoWidth": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
                }
            });
        });

        function deleteInvoice(invoiceId) {
            if (confirm('Are you sure you want to delete this invoice?')) {
                // Perform the deletion action (e.g., send a request to the server)
                alert('Invoice ' + invoiceId + ' has been deleted.');
            }
        }
    </script>
</div>
</body>
</html>
