<!DOCTYPE html>
<html lang="fr" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de Facture</title>
</head>
<body>
<div layout:fragment="content">
    <main>
        <form id="invoiceForm" method="POST" th:action="@{/invoice/preview}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <input id="userId" th:value="${userId}" type="hidden"/>

            <div class="container-md" id="productsContainer">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Client</label>
                    <div class="col-sm-10">
                        <select class="form-select" name="clientId">
                            <option value="helper">Choisissez votre client</option>
                            <option th:each="client : ${clients}" th:text="${client.fullName}" th:value="${client.id}">
                                Nom du client
                            </option>
                        </select>
                    </div>
                </div>

                <div class="alert alert-warning" id="productAlert" role="alert" style="display: none;">
                    Veuillez ajouter au moins un produit.
                </div>

                <!-- Template for cloning -->
                <div class="row mb-3 product-row-template" style="display: none;">
                    <div class="col-sm-4">
                        <label class="form-label">Produit</label>
                        <select class="form-select product-select">
                            <option value="helper">Choisissez votre produit</option>
                            <option th:data-currency="${product.currency}" th:data-price="${product.price}"
                                    th:each="product : ${products}"
                                    th:text="${product.name}" th:value="${product.id}">Nom du produit
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <label class="form-label">Quantité</label>
                        <input class="form-control quantity-input" min="1" type="number">
                    </div>

                    <div class="col-sm-3">
                        <label class="form-label">Prix</label>
                        <input class="form-control price-input readonly-input" readonly type="text">
                    </div>

                    <div class="col-sm-1">
                        <label class="form-label">Devise</label>
                        <input class="form-control currency-input readonly-input" readonly type="text">
                    </div>
                    <div class="col-sm-1 d-flex align-items-end">
                        <button class="btn btn-danger removeProductRow" type="button">Supprimer</button>
                    </div>
                </div>
                <button class="btn btn-success" id="addProductRow" type="button">Ajouter une ligne de produit</button>
            </div>

            <div class="container-md" id="ShippingContainer">
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Type de frais de port</label>
                    <div class="col-sm-8">
                        <select class="form-select" name="shippingCostType">
                            <option selected value="helper">Choisissez votre type de frais de port</option>
                            <option th:each="type : ${shippingCostTypes}"
                                    th:text="${type.displayName}" th:value="${type.name()}">Type
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Réduction</label>
                    <div class="col-sm-8">
                        <select class="form-select" name="reduction">
                            <option selected value="helper">Choisissez votre réduction</option>
                            <option value="0">0%</option>
                            <option value="10">10%</option>
                            <option value="15">15%</option>
                            <option value="20">20%</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Réduction Additionnelle</label>
                    <div class="col-sm-8">
                        <select class="form-select" name="additionalReduction">
                            <option selected value="helper">Choisissez votre type de réduction</option>
                            <option th:each="type : ${reductionTypes}"
                                    th:text="${type.displayName}" th:value="${type.name()}">Type
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Avance de paiement</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="advancePayment" type="number" step="0.01" placeholder="Entrez l'avance de paiement">
                    </div>
                </div>

            </div>

            <div id="submit">
                <input class="btn btn-primary" name="submit" type="submit" value="Suivant">
            </div>
        </form>
    </main>
</div>
</body>
</html>
