<!DOCTYPE html>
<html lang="fr" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listing Facture</title>

</head>
<body>
<div layout:fragment="content">
    <main class="container mt-5">
        <h1 class="text-center">Liste des Factures</h1>

        <div class="table-responsive">
            <table class="table table-hover" id="invoicesTable">
                <thead class="table-light">
                <tr>
                    <th scope="col">ID Facture</th>
                    <th scope="col">Nom du Client</th>
                    <th scope="col">Date de Facture</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="invoice : ${invoiceItems}">

                    <td th:text="${invoice.invoiceId}"></td>
                    <td th:text="${invoice.customerName}"></td>
                    <td th:text="${#temporals.format(invoice.issueDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                    <td>
                        <div class="action-buttons">
                            <a class="view-btn" th:href="@{/invoice/view/{id}(id=${invoice.invoiceId})}" title="View">
                                <svg class="bi bi-eye-fill" fill="currentColor" height="16" viewBox="0 0 16 16"
                                     width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </a>
                            <button class="delete-btn" data-bs-target="#deleteConfirmationModal"
                                    data-bs-toggle="modal" th:attr="data-bs-invoice-id=${invoice.invoiceId}"
                                    th:if="${userRole == 'ROLE_PROVIDER'}" title="Supprimer">
                                <svg class="bi bi-trash" fill="currentColor" height="16" viewBox="0 0 16 16"
                                     width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Delete Confirmation Modal -->
        <div aria-hidden="true" aria-labelledby="deleteConfirmationModalLabel" class="modal fade"
             id="deleteConfirmationModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmation de suppression</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr de vouloir supprimer cette facture ?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Annuler</button>
                        <button class="btn btn-danger" id="confirmDeleteButton" type="button">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-success" role="alert" th:if="${successMessage}">
            <span th:text="${successMessage}"></span>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
            <span th:text="${errorMessage}"></span>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#invoicesTable').DataTable({
                "autoWidth": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
                }
            });

            let invoiceId;
            $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget); // Button that triggered the modal
                invoiceId = button.data('bs-invoice-id'); // Extract invoice id from data-* attribute
            });

            $('#confirmDeleteButton').click(function () {
                // Perform AJAX request to delete the invoice
                $.ajax({
                    url: '/invoice/delete/' + invoiceId,
                    type: 'GET', // Use GET method
                    success: function (response) {
                        // Handle successful response
                        console.log(response);
                        // Optionally, you can refresh the table or update the UI
                        location.reload(); // Reload the page
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error(error);
                    },
                    complete: function () {
                        // Close the modal after the AJAX request is completed
                        $('#deleteConfirmationModal').modal('hide');
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>
