<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Invoice Form</title>
</head>
<body>
<div layout:fragment="content">
    <main>

        <form action="" method="POST">

            <div class="container-md" id="productsContainer">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Client</label>
                    <div class="col-sm-10">
                        <select class="form-select">
                            <option selected>Choose your client</option>
                            <option value="1">One</option>
                        </select>
                    </div>
                </div>
                <!-- Template for cloning -->
                <div class="row mb-3 product-row-template" style="display: none;">
                    <div class="col-sm-4">
                        <label class="form-label">Produits</label>
                        <select class="form-select product-select">
                            <option selected>Choose a product</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">Quantité</label>
                        <input class="form-control quantity-input" min="1" type="number">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Prix</label>
                        <input class="form-control price-input" readonly type="text">
                    </div>
                    <div class="col-sm-1 d-flex align-items-end">
                        <button class="btn btn-danger removeProductRow" type="button">Remove</button>
                    </div>
                </div>
                <button class="btn btn-success" id="addProductRow" type="button">Add Product Row</button>
            </div>

            <div class="container-md" id="ShippingContainter" >
                 <div class="row mb-3">
                <label class="col-sm-2 col-form-label">shippingCostType</label>
                <div class="col-sm-10">
                    <select class="form-select">
                        <option selected>Choose your shipping Cost Type</option>
                        <option value="1">One</option>
                    </select>
                </div>
            </div>
            </div>
        </form>
    </main>
</div>
</body>
</html>
