
<head th:fragment="commonHeadFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">

    <title th:text="${title}">Default Title</title>

    <!-- style and css for invoiceAddForm.html -->
    <link rel="stylesheet" th:if="${invoiceAddForm}" href="/css/invoiceAddForm.css">
    <script  th:if="${invoiceAddForm}" defer src="/js/invoiceAddForm.js"></script>
    <!-- ----------------------------------------------------------------------------- -->
    <!-- style and css for loginForm.html -->
    <link rel="stylesheet" th:if="${loginForm}" href="/css/loginForm.css">
    <script  th:if="${loginForm}" defer src="/js/loginForm.js"></script>
</head>