<header th:if="!${loginForm}" th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">My Website</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Use the navbar fragment -->
                <ul class="navbar-nav">
                    <li th:replace="navItem :: navbarItem('/', 'Home', ${home})"></li>
                    <li th:replace="navItem :: navbarItem('/about', 'About', ${about})"></li>
                    <li th:replace="navItem :: navbarItem('/help', 'Help', ${help})"></li>
                    <li th:replace="navItem :: navbarItem('/terms', 'Terms', ${terms})"></li>
                    <li th:replace="navItem :: navbarItem('/services', 'Services', ${services})"></li>
                </ul>

            </div>
        </div>
    </nav>
</header>
