<header class="header" th:fragment="headerFragment" th:if="!${loginForm} and !${genericError} and !${index} and !${registerForm}">
    <nav class="nav container">
        <div class="nav__data">
            <a class="nav__logo" href="/home">
                <i class="ri-code-s-slash-line"></i> Accounting-FlowManager
            </a>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line nav__toggle-menu"></i>
            <i class="ri-close-line nav__toggle-close"></i>
        </div>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <!-- Common link visible to any authenticated user -->
                <li th:if="${userRole != null}"><a class="nav__link" href="/home">Accueil</a></li>

                <!-- Provider-specific content -->
                <li class="dropdown__item" th:if="${userRole == 'ROLE_PROVIDER'}">
                    <div class="nav__link dropdown__button">
                        Factures <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>
                    <ul class="dropdown__list">
                        <li><a class="dropdown__link" href="/addInvoice">Ajouter</a></li>
                        <li><a class="dropdown__link" href="/invoice/list">Liste des factures</a></li>
                        <li><a class="dropdown__link" href="/invoice/upload">Upload une facture</a></li>
                    </ul>
                </li>
                <li class="dropdown__item" th:if="${userRole == 'ROLE_PROVIDER'}">
                    <div class="nav__link dropdown__button">
                        Produits <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>
                    <ul class="dropdown__list">
                        <li><a class="dropdown__link" href="/products/add">Ajouter produits</a></li>
                        <li><a class="dropdown__link" href="/product/management">Gestion</a></li>
                        <li><a class="dropdown__link" href="/products">Liste des produits</a></li>
                    </ul>
                </li>

                <!-- Client-specific content -->
                <li class="dropdown__item" th:if="${userRole == 'ROLE_CLIENT'}">
                    <div class="nav__link dropdown__button">
                        Factures <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>
                    <ul class="dropdown__list">
                        <li><a class="dropdown__link" href="/invoice/list">Liste des factures</a></li>
                    </ul>
                </li>
                <li class="dropdown__item" th:if="${userRole == 'ROLE_CLIENT'}">
                    <div class="nav__link dropdown__button">
                        Fournisseurs <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>
                    <ul class="dropdown__list">
                        <li><a class="dropdown__link" href="/client/providerAdd">Ajouter fournisseur</a></li>
                        <li><a class="dropdown__link" href="/client/listProviders">Liste des fournisseurs</a></li>
                    </ul>
                </li>

                <!-- Profile and Logout section accessible to any authenticated user -->
                <li class="dropdown__item" th:if="${userRole != null}">
                    <div class="nav__link dropdown__button">
                        <i class="ri-user-line"></i> <span th:text="${userEmail}"></span> <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>
                    <ul class="dropdown__list">
                        <li><a class="dropdown__link" href="/profile">Profile</a></li>
                        <li><a class="dropdown__link logout-link" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>